Server:
    Port: 8080

Oauth2:
    Google:
        ClientID: "651255568655-qn595kldgqldugkcku5bij73cqos7kkp.apps.googleusercontent.com"
        ClientSecret: "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"
        RedirectURL: "http://localhost:8080/auth/google/callback"
        Scopes:
          - "https://www.googleapis.com/auth/userinfo.email"
          - "https://www.googleapis.com/auth/userinfo.profile"

GrpcServer:
    MicroAuth:
        Domain: "localhost"
        Port: 50051
        MaxConnectionNum: 10
