server:
  port: :8080

jwt:
  secret: "kmkdmvqejmriqiwngijoqpw"

oauth2:
  google:
    clientID: "651255568655-qn595kldgqldugkcku5bij73cqos7kkp.apps.googleusercontent.com"
    clientSecret: "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"
    redirectURL: "http://localhost:8080/auth/google/callback"
    scopes:
      - "https://www.googleapis.com/auth/userinfo.email"
      - "https://www.googleapis.com/auth/userinfo.profile"