Server:
    Port: 50051

Jwt:
    secret: "kmkdmvqejmriqiwngijoqpw"
    expiration: 1h

Mongodb:
    Host: "127.0.0.1"
    Port: 27017
    Username: "root"
    Password: "root"
    Database: "admin"
    ConnectTimeout: 20s
    MaxPoolSize: 20
    MaxConnIdleTime: 15m

App:
    DBTimeout: 10s