Server:
    Port: 50052
    DBTimeout: 10s
MySQL:
    Host: localhost
    Port: 3306
    Username: root
    Password: root
    Database: investor
    MaxIdleConns: 10
    MaxOpenConns: 10
    ConnMaxLifeTime: 60s
Redis:
    Host: localhost
    Port: 6379
    Password:
    DB: 0